<h3>Current prices for <%= @symbol %></h3>
<a href="/historical?symbol=<%= @symbol %>"><%= @symbol %> 1 Year Historical Chart</a>
<br />
<br />
<h4><%= @symbol %>: <%= "%.2f" % (@price.to_f/@gold_price.to_f).to_s %> [oz. Gold]</h4>
<h4><%= @symbol %>: <%= "%.2f" % (@price.to_f/@silver_price.to_f).to_s %> [oz. Silver]</h4>
<h4><%= @symbol %>: <%= "%.2f" % (@price.to_f/@btc_price.to_f).to_s %> [BTC]</h4>
<h4><%= @symbol %>: <%= @price %> [USD]</h4>
<br />
<br />
<input />  <a id="lookup" href="#" class="btn">Look up symbol</a>
<br />
<hr />

<h4>Current Non-fiat money valuations in USD</h4>
<h5>Gold: <%= "%.2f" % @gold_price %> [USD/oz]</h5>
<h5>Silver: <%= "%.2f" % @silver_price %> [USD/oz]</h5>
<h5>Bitcoin: <%= "%.2f" % @btc_price %> [USD/btc]</h5>
