<h3 class="center-text">Current prices for <%= @symbol %></h3>
<h4 class="center-text"><%= "%.2f" % (@price.to_f/@gold_price.to_f).to_s %> [oz. Gold], <%= "%.2f" % (@price.to_f/@silver_price.to_f).to_s %> [oz. Silver], <%= "%.2f" % (@price.to_f/@btc_price.to_f).to_s %> [BTC], <%= @price %> [USD]</h4>
<br />
<div class="row">
  <div class="span5 offset1">
    <h5 class="center-text">1 Year Historical Chart for <%= @symbol %> Priced in Oz. Gold</h5>
    <div id="symbol-gold-1yr" style="width:350px;height:200px;margin-left: auto; margin-right: auto;"></div>
    <h6 class="center-text">Month</h4>
    <h6 class="center-text"><a href="/historical?symbol=<%= @symbol %>">View larger 1 Year Historical Charts for <%= @symbol %></a></h6>
  </div>
  <div class="span5">
    <h5 class="center-text">1 Year Historical Chart for <%= @symbol %> Priced in Bitcoins</h5>
    <div id="symbol-btc-1yr" style="width:350px;height:200px;margin-left: auto; margin-right: auto;"></div>
    <h6 class="center-text">Month </h6>
    <h6 class="center-text">* The "step" features in the chart are due to a single monthly price used for the Bitcoin value.</h6>
  </div>
</div>
<br />
<br />
<div class="year-chart-input">
  <input />  <a id="lookup" href="#" class="btn btn-btc-orange">Enter New Symbol</a>
</div>
<br />
<hr />
<h5 class="center-text">Current Non-fiat money valuations in USD</h5>
<h5 class="center-text">Gold: <%= "%.2f" % @gold_price %> [USD/oz], Silver: <%= "%.2f" % @silver_price %> [USD/oz], Bitcoin: <%= "%.2f" % @btc_price %> [USD/btc]</h5>

<script type="text/javascript">
  var price_array = <%= @gold_price_array %>;
  var symbol_gold_data = <%= @symbol_gold_data %>;
  var symbol_btc_data = <%= @symbol_btc_data %>;
  var xticks = [];
  var xtick_index = <%= @xtick_index %>;
  //var xtick_date = <%= @xtick_date %>;
  console.log("asdfasdfasdf");

  $(function () {
    var d1 = [];
    for (var i = 0; i < 14; i += 0.5)
        d1.push([i, Math.sin(i)]);

    var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

    // a null signifies separate line segments
    var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];
    
    $.plot($("#symbol-gold-1yr"), [ {label: "<%= @symbol %>/oz. Gold", data: symbol_gold_data} ],{xaxis: {
            ticks: <%= @xticks %>
    }});
    $.plot($("#symbol-btc-1yr"), [ {label: "*<%= @symbol %>/Monthly Bitcoin Close", data: symbol_btc_data} ],{xaxis: {
            ticks: <%= @xticks %>
    }});
});
</script>
